<%= form_tag '/login' do %>
 <div class="row login">
    <form class="col s12">
      <div class="row">
        <div class="input-field">
          <%= text_field_tag :username %>
          <label for="last_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <%= password_field_tag :password %>
          <label for="password">Password</label>
        </div>
      </div>
     <%= submit_tag "Login", :class => "btn waves-effect waves-light"%>
    </form>
  </div>
<% end %>