<!-- <div class="row">
  <form>
      <h6 class="center-align">Find Your Friends</h6>
    <div class="input-field col s4 offset-s4">
      <input id="search" type="search" required>
      <label for="search" placeholder"Search">Search</label>
    </div>
  </form>
</div> -->

<div class="row">
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <h6 class="center-align">Find Your Friends</h6>
  <div class="input-field col s4 offset-s4">
      <%= text_field_tag :search, params[:search], placeholder: "Search"%>
  <%= submit_tag "Search" %>
  </div>
  <% end %>
</div>
