<!doctype html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<% ENV["GMAPS"] %>&callback=initMap" async defer></script>


  </head>
  <body>

  <%= render template: "layouts/_navbar" %>

    <div id="map"></div>

  </body>
</html>
