 <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <body>
    <%= render template: "layouts/_navbar" %>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GMAPS"] %>&libraries=places&signed_in=true&callback=initMap" async defer></script>
  </body>

