<!doctype html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<% ENV["GMAPS"] %>&libraries=places&callback=initMap" async defer></script>


  </head>
  <body>
<!--
    <div>
    <h1>Hello!</h1>
  </div> -->

  <p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}
</script>
    <div id="map"></div>

  </body>
</html>
