<div class="row container">
  <div class="col s8 offset-s2">
    <ul class="collection">
      <% @users.each do |user| %>
        <%= render template: "users/_person", :locals => { user: user} %>
      <% end %>
  </ul>
  </div>
</div>