<!DOCTYPE html>
<html>
<head>
  <title>Echo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="half">
      <%= image_tag('logo.png', size: "275x125", :class=>"middle responsive-img")%>
    </div>
    <div class="bottom-boy">
      <h1>Test Stuff</h1>
    </div>
</body>
</html>