.up-top {
  background-color: #1d2120;
}

.top-nav {
  height: 175px;
  background-color: #5a5c51;
}

.logout {
  position: absolute;
  margin: 0;
  font-size: 10px;
}

.google {
  float: right;
}

.friends {
  position: absolute;
  margin-left: 200px;
  font-size: 10px;
}

.add-friend {
  float: right;
}

.chippy {
  position: absolute;
  margin-left: 110px;
  margin-top: 5px;
}