.profile-head {
  background-color: #F2F2EC;
  border-bottom: 2px solid #0DA550;
}

.echo-holder{
  margin: 30px;
  background-color: #F2F4EC;
}

.echo-content{
  margin-top: -40px;
}

.spotify-holder{
  margin-bottom: 10px;
}

.pending-accept{
  right: 20px;
  position: absolute;
  top: 10px;
}

#light-header{
  font-family: 'Roboto';
  font-weight: 200;
}

.rounded {
  margin-top: 15px;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  overflow: hidden;
  border: 2px solid #0DA550;
  margin-bottom: 15px;
  max-width: 100%
}

.friend-list{
  background-color: #F2F4EC;
}

.profile-logo{
  margin-top: 10px;
  margin-left: 10px;
}

.since{
  font-size: 10px;
}

.new-font{
  font-family: 'moon_flower_boldregular';
}

.top-nav {
  height: 175px;
  background-color: #5a5c51;
}

.logout {
  position: absolute;
  vertical-align: center;
  bottom: 0;
  font-size: 15px;
  width: 70%;
}

.friends {
  vertical-align: center;
  width: 70%;
  font-size: 15px;
}

.friendsbar{
  z-index: 0;
}

.google {
  float: right;
}


.add-friend {
  float: right;
}

.chippy {
  position: absolute;
  margin-left: 110px;
  margin-top: 5px;
}

.river {
  margin: 0;
}

#friend_search{
  color: white;
}

.inline{
  display: inline;
  position: absolute;
}

.deny {
  color: #d10000;
  float: right;
  clear: both;
}

.tallguy{
  height: 400px;
  border-top: thick solid #ffffff;
  border-bottom: #ffffff;
  background-image: url("/assets/mochaGrunge.png");
  color: white;
}

.bottom-contain{
  background-color: #004d40;
}

.ghost{
  display: inline-block;
  position: relative;
  border-radius: 5px;
  left: 35%;
  border: none;
  height: 45px;
  padding: 0;
  width: 30%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.new_user .row .input-field label{
  color: white;
}

.register h5 {
  color: white;
}

.profile-logout{
  margin-top: 20px;
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: url("/assets/mochaGrunge.png");
}