html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#map-canvas {
  position:relative;
  height:100%;
}

#map {
    height: 100%;
  }

#river_song{
  margin: 3px;
  position: absolute;
  top:0;
  left:0;
  width:300px;
  height: 59%;
  overflow: scroll;
}

#gmage{
  top:0;
  right: 0;
  z-index: 1;
  position: fixed;
}

#overlay {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 99;
  pointer-events: none;
}

#overlay * {
  pointer-events: all;
}

.menu-overflow {
  width: 300px;
}

#left-menu {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 300px;
  background-image: url('mochaGrunge.png');
  display: none;
  overflow: hidden;
}

#right-menu {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width: 300px;
  background-image: url('mochaGrunge.png');
  display: none;
  overflow: hidden;
}

.friend-wrapper {
  margin: 3px;
  position: absolute;
  bottom:0;
  right:left;
  height: 40%;
  width: 300px;
  overflow: scroll;
}

#left-menu-button {
  margin-top: 60px;
  margin-left: 30px;
  float: left;
}

#right-menu-button {
  margin-top: 60px;
  margin-right: 30px;
  float: right;
}

#loc-input {
  width: 400px;
  background: white;
  display: block;
  margin:0 auto;
  margin-top: 40px;
}
