html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#map-canvas {
  position:relative;
  height:100%;
}

#map {
    height: 100%;
  }

#river_song{
  margin: 3px;
  position: absolute;
  top:0;
  left:10px;
  width:300px;
  height: 59%;
  overflow: scroll;
}

#gmage{
  bottom:0;
  left: 0;
  z-index: 1;
  position: absolute;
}

#overlay {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 99;
  pointer-events: none;
}

#overlay * {
  pointer-events: all;
}


#overlay > a {
  /*color: #0DA550;*/
  color: #F2F4EC;
  text-shadow: -0.5px 0 black, 0 1px black, 1px 0 black, 0 -0.5px black;
}


#left-menu {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 300px;
  background:black;
  display: none;
  overflow: hidden;
}

#right-menu {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width: 300px;
  display: none;
  overflow: hidden;
}

.river-user{
  font-size: 17px;
  color: #F2F4EC;
}

.river-song-info{
  font-size: 13px;
  color: #F2F4EC;
}

.river_div{
    display: block;
    height: auto;
    width: 270px;
    padding: 3px;
    font-size: 1em;
    text-align: center;
    border-top: 1px solid #17E17F;
  }

#prof-nav-bar{
  width: 300px;
  position: absolute;
  top:0;
  right:0;
background-image: url('http://3.bp.blogspot.com/-SewyHzhA4Bo/T6DFUqkjJOI/AAAAAAAAAQg/ijzcM7D9bdg/s1600/Green+Fibers.png')
}

.menu-overflow{
    height: 100%;
    overflow: hidden;
    background-image: url('http://3.bp.blogspot.com/-SewyHzhA4Bo/T6DFUqkjJOI/AAAAAAAAAQg/ijzcM7D9bdg/s1600/Green+Fibers.png');
}

.left-menu-overflow{
  height: 100%;
  width: 300px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-image: url('http://3.bp.blogspot.com/-SewyHzhA4Bo/T6DFUqkjJOI/AAAAAAAAAQg/ijzcM7D9bdg/s1600/Green+Fibers.png');
}


#river_song{
    width: 300px;
    height: 100%;
    overflow: scroll;
    background-image: url('http://3.bp.blogspot.com/-SewyHzhA4Bo/T6DFUqkjJOI/AAAAAAAAAQg/ijzcM7D9bdg/s1600/Green+Fibers.png');
    padding-right: 15px; /* Increase this value for cross-browser compatibility */
}

.friend-wrapper {
  margin-left: 25px;
  width: 275px;
  position: absolute;
  top:340px;
  bottom:0;
  right:0;
  vertical-align: center;
  overflow: auto;
}


#left-menu-button {
  margin-left: 30px;
  float: left;
}

#right-menu-button {
  margin-right: 30px;
  float: right;
}

#loc-input {
  border-radius: 25px;
  height: 25px;
  text-align: center;
  width: 370px;
  background: white;
  display: block;
  border: inset .3px silver;
  margin:0 auto;
  margin-top: 10px;
}

#top-bar {
  pointer-events: none;
}

#top-bar * {
  pointer-events: all;
}

#form-type {
  background-color: #66BB6A;
}
