html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#map {
    height: 73%;
  }

#river_song{
    top:0;
    float: left;
    height: 150px;

}

#gmage{
  top:0;
  right: 0;
  z-index: 1;
  position: fixed;
}